:root {
    --green-bg: #daffec;
    --purple-bg: #f6eaff;
}

body {
    background-color: var(--green-bg)
}

header {
    background-color: var(--purple-bg);
    padding: 1rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    margin: 0;
    text-align: center;
}

.game-wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 3rem;
    margin-left: 10%;   
}

@media (max-width: 768px) {
    .game-wrapper {
        grid-template-columns: 1fr;
        margin-left: 5%;
    }
    
}

iframe {
    margin: 10% auto;
    display: block;
}